<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<aside class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ page.title }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">首頁</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="#" data-proofer-ignore>返回頂端</a>
    {% for node in page.toc %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %} sidebar-nav-item-toc" href="#{{ node | slugify }}">{{ node }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    {% if page.editor %}
    <p>由 {{ page.editor }} 於 {{ site.time | date: '%Y' }} 年編輯。</p>
    {% else %}
      {% if page.author %}
      <p>由 {{ page.author }} 於 {{ site.time | date: '%Y' }} 年編輯。</p>
      {% else %}
      <p>由 {{ site.author.name }} 於 {{ site.time | date: '%Y' }} 年編輯。</p>
      {% endif %}
    {% endif %}

    <p>
      本網站是在使用MIT許可證的 <a href="https://minicomp.github.io/ed/">Ed.</a> 基礎上開發的。
    </p>
  </div>
</aside>
