---
layout: default
---

<article class="narrative">
  <h1 class="text-title">{{ page.title }}</h1>
  {% if page.author %}
  <p class="byline"> {{ page.author }}</p>
  {% else %}
  <p class="byline"> {{ site.author.name }}</p>
  {% endif %}

  <ul class="abstractline">
    {% if page.rating-note %}
    <li><strong>{{ page.rating }}</strong>： {{page.rating-note}}</li>
    {% else %}
    <li><strong>{{ page.rating }}</strong></li>
    {% endif %}
    {{ page.abstract }}
  </ul>
  
  {{ content }}
</article>
