---
layout: default
---

<article class="narrative">
  <h1 class="text-title">{{ page.title }}</h1>
  {% if page.author %}
  <p class="byline"> {{ page.author }}</p>
  {% else %}
  <p class="byline"> {{ site.author.name }}</p>
  {% endif %}


  {% if page.rating or page.abstract %}
  <ul class="abstractline">

    {% if page.rating-note %}
    <li><strong>{{ page.rating }}</strong>： {{page.rating-note}}</li>
    {% else %}
      {% if page.rating %}
      <li><strong>{{ page.rating }}</strong></li>
      {% endif %}
    {% endif %}

    {{ page.abstract }}

  </ul>
  {% endif %}

  {{ content }}
</article>
